In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [5]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [6]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [7]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [8]:
type(df['w'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

**After writing "pd." we can press tab button to know all the options possible that we 
can use**

In [10]:
df[['w','z']]  #double square brackets are used to select columns

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [11]:
df['new']=df['w'] + df['y']

In [12]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [13]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [14]:
df.drop('new',axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

**In the above one, we addded axis =1, axis=1 means new is one of the columns.
By default axis=0 which means rows.**

In [15]:
df.drop('new',axis=1,inplace=True)

In [16]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [17]:
df.drop('e',axis=0)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [18]:
df.shape   #returns (rows,columns) in the form of tuple where tup[0] is rows and tup[1] is columns

(5, 4)

### **Selecting Rows Below**

In [19]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [20]:
df.iloc[2]     #in this one we select the index number of that row. In this case 2 means the 3rd row

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [21]:
df.loc['b','y']     #returns value at [row,column]

-0.8480769834036315

In [22]:
df.loc[['a','b'],['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

.

# **Dataframes Part 2 starts here**

In [23]:
df > 0

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [24]:
booldf = df > 0

In [25]:
df[booldf]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [26]:
df[df>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [27]:
df['w']>0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [28]:
df[df['w']>0]    #returns all the values without any NaN values.

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [29]:
resultdf=df[df['w']>0]

In [30]:
resultdf['x']

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [31]:
df[df['w']>0][['x','y']]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
d -0.758872 -0.933237
e  1.978757  2.605967

In [32]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [33]:
df.reset_index()        #adds an index column starting from 0

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [52]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [53]:
df['States'] = newind
df

               w         x         y         z States
States
CA      2.706850  0.628133  0.907969  0.503826     CA
NY      0.651118 -0.319318 -0.848077  0.605965     NY
WY     -2.018168  0.740122  0.528813 -0.589001     WY
OR      0.188695 -0.758872 -0.933237  0.955057     OR
CO      0.190794  1.978757  2.605967  0.683509     CO

In [55]:
df.set_index('States', inplace=True)
# We saw above that even after resetting index, and printed df again,
# the index was removed...Therefore we use inplace=True to make the change
# permanent

In [56]:
df

               w         x         y         z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509