# Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

**We can know more about how to use a specific fomula by pressing shift tab inside the brackets. Eg in the below one if 
we press shift tab inside the brackets of series then we will get to know how to use it**

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int32

In [12]:
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

In [13]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [14]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [16]:
ser2= pd.Series([1,2,5,4],['USA','Italy','USSR','Japan'])

In [17]:
ser2

USA      1
Italy    2
USSR     5
Japan    4
dtype: int64

In [18]:
ser1['USA']

1

In [19]:
ser1 + ser2

Germany    NaN
Italy      NaN
Japan      8.0
USA        2.0
USSR       8.0
dtype: float64

**In the above example... the ones which didnt exist in the other it was put 
as NaN, and all additions are converted to float**